/target/classes/.idea/.gitignore
/target/classes/target/classes/.idea/.gitignore
/target/classes/target/classes/target/classes/.idea/.gitignore
/target/classes/.idea/.name
/target/classes/target/classes/.idea/.name
/target/classes/target/classes/target/classes/.idea/.name
/target/classes/org/example/model/boardType/Board.class
/target/classes/org/example/model/boardType/BoardType.class
/target/classes/org/example/model/boardType/Bounce.class
/target/classes/org/example/model/boardType/Classic.class
/target/classes/.idea/codeStyles/codeStyleConfig.xml
/target/classes/target/classes/.idea/codeStyles/codeStyleConfig.xml
/target/classes/target/classes/target/classes/.idea/codeStyles/codeStyleConfig.xml
/target/classes/.idea/compiler.xml
/target/classes/target/classes/.idea/compiler.xml
/target/classes/target/classes/target/classes/.idea/compiler.xml
/target/classes/org/example/model/Die.class
/target/classes/org/example/model/squares/Empty.class
/target/classes/ProjectJava/src/main/resources/JsonFiles/fussy.json
/target/classes/target/classes/ProjectJava/src/main/resources/JsonFiles/fussy.json
/target/classes/target/classes/target/classes/ProjectJava/src/main/resources/JsonFiles/fussy.json
/target/classes/ProjectJava/src/main/resources/JsonFilesSaved/fussySaved.json
/target/classes/target/classes/ProjectJava/src/main/resources/JsonFilesSaved/fussySaved.json
/target/classes/target/classes/target/classes/ProjectJava/src/main/resources/JsonFilesSaved/fussySaved.json
/target/classes/org/example/model/Game.class
/target/classes/org/example/model/gameStart/GameStart.class
/target/classes/org/example/model/GameState.class
/target/classes/org/example/model/squares/GetImmunity.class
/target/classes/org/example/model/interaction/Interaction.class
/target/classes/.idea/jarRepositories.xml
/target/classes/target/classes/.idea/jarRepositories.xml
/target/classes/target/classes/target/classes/.idea/jarRepositories.xml
/target/classes/target/classes/target/classes/json-20201115.jar
/target/classes/target/classes/json-20201115.jar
/target/classes/json-20201115.jar
/target/classes/org/example/model/JsonIO.class
/target/classes/org/example/model/squares/Ladder.class
/target/classes/target/classes/target/classes/LICENSE
/target/classes/target/classes/LICENSE
/target/classes/LICENSE
/target/classes/org/example/model/boardType/Loop.class
/target/classes/org/example/model/squares/loseTurn.class
/target/classes/org/example/model/Main.class
/target/classes/.idea/libraries/Maven__junit_junit_4_13_2.xml
/target/classes/target/classes/.idea/libraries/Maven__junit_junit_4_13_2.xml
/target/classes/target/classes/target/classes/.idea/libraries/Maven__junit_junit_4_13_2.xml
/target/classes/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/target/classes/target/classes/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/target/classes/target/classes/target/classes/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/target/classes/.idea/libraries/Maven__org_json_json_20210307.xml
/target/classes/target/classes/.idea/libraries/Maven__org_json_json_20210307.xml
/target/classes/target/classes/target/classes/.idea/libraries/Maven__org_json_json_20210307.xml
/target/classes/.idea/misc.xml
/target/classes/target/classes/.idea/misc.xml
/target/classes/target/classes/target/classes/.idea/misc.xml
/target/classes/.idea/modules.xml
/target/classes/target/classes/.idea/modules.xml
/target/classes/target/classes/target/classes/.idea/modules.xml
/target/classes/org/example/model/interaction/MoveOtherPlayer.class
/target/classes/org/example/model/gameStart/NoGameStart.class
/target/classes/org/example/model/interaction/NoInteraction.class
/target/classes/org/example/model/Player.class
/target/classes/org/example/model/PlayerList.class
/target/classes/target/classes/target/classes/target/classes/target/classes/target/classes/target/classes/pom.xml
/target/classes/target/classes/target/classes/target/classes/target/classes/target/classes/pom.xml
/target/classes/target/classes/target/classes/target/classes/target/classes/pom.xml
/target/classes/target/classes/target/classes/target/classes/pom.xml
/target/classes/target/classes/target/classes/pom.xml
/target/classes/target/classes/pom.xml
/target/classes/pom.xml
/target/classes/.idea/inspectionProfiles/Project_Default.xml
/target/classes/target/classes/.idea/inspectionProfiles/Project_Default.xml
/target/classes/target/classes/target/classes/.idea/inspectionProfiles/Project_Default.xml
/target/classes/org/example/model/ui/QuitGame.class
/target/classes/target/classes/target/classes/README.md
/target/classes/target/classes/README.md
/target/classes/README.md
/target/classes/org/example/model/gameStart/RollDiceToEnter.class
/target/classes/org/example/model/ui/Screen.class
/target/classes/org/example/model/squares/Snake.class
/target/classes/ProjectJava/src/main/resources/JsonFiles/snake.json
/target/classes/target/classes/ProjectJava/src/main/resources/JsonFiles/snake.json
/target/classes/target/classes/target/classes/ProjectJava/src/main/resources/JsonFiles/snake.json
/target/classes/target/classes/target/classes/target/classes/ProjectJava/src/main/resources/JsonFiles/snake.json
/target/classes/target/classes/target/classes/SnakeAndFussyBoardGame.iml
/target/classes/target/classes/SnakeAndFussyBoardGame.iml
/target/classes/SnakeAndFussyBoardGame.iml
/target/classes/ProjectJava/src/main/resources/JsonFilesSaved/snakeSaved.json
/target/classes/org/example/model/squares/SquareInfo.class
/target/classes/.idea/uiDesigner.xml
/target/classes/target/classes/.idea/uiDesigner.xml
/target/classes/target/classes/target/classes/.idea/uiDesigner.xml
/target/classes/.idea/vcs.xml
/target/classes/target/classes/.idea/vcs.xml
/target/classes/target/classes/target/classes/.idea/vcs.xml
/target/classes/target/classes/target/classes/target/classes/target/classes/ProjectJava/src/main/resources/JsonFiles/snake.json
/target/classes/target/classes/target/classes/target/classes/target/classes/target/classes/.gitignore
/target/classes/target/classes/target/classes/target/classes/target/classes/.gitignore
/target/classes/target/classes/target/classes/target/classes/.gitignore
/target/classes/target/classes/target/classes/.gitignore
/target/classes/target/classes/.gitignore
/target/classes/.gitignore
